<button (click)="generatePdf()">Print ..</button>
<div class="pattern">
  osama
</div>

<div id="contentConvert">
  <div class="box">

    <h2>Profile</h2>
    <h3>What can I do for you?</h3>

    <p>
      <span class="speciality">background</span>My background is Computer Science, with a passion for design. I have
      been working freelance for more than 7 years for a big variety of clients and agencies.</p>
    <p>
      You can hire me on a project basis, but I also am available for a long term cooperation. I can work at my own
      space, as well as on your location.</p>
    <p>
      <span class="speciality">Specialties</span>website design, website development, consultancy, Wordpress, agency
      experience, semantic & validating HTML, CSS, templates, CMS, responsive, Fireworks, Photoshop, scrum, agile, Sass,
      LESS, version management.</p>

    <p>
      <span class="speciality">Knowledge</span>I can translate existing identities, provide advice from a technical
      perspective and transform a design into valid (responsive) HTML and CSS. I can deal with bug trackers, version
      control and pre-processors like LESS and Sass. Strongly prefer using an agile approach to project management.</p>

    <p>
      <span class="speciality">Skills</span>I am acquainted with responsive web development and scrum. JavaScript
      however is not my biggest hobby. I keep my knowledge up to date by visiting conferences and by keeping in close
      touch with colleagues.</p>
    <p>
      Looking for a new company website? I can develop a website from design to development.</p>
  </div>
  <div class="box reverse">

    <h2>Profile</h2>
    <h3>What can I do for you?</h3>

    <p>
      <span class="speciality">background</span>My background is Computer Science, with a passion for design. I have
      been working freelance for more than 7 years for a big variety of clients and agencies.</p>
    <p>
      You can hire me on a project basis, but I also am available for a long term cooperation. I can work at my own
      space, as well as on your location.</p>
    <p>
      <span class="speciality">Specialties</span>website design, website development, consultancy, Wordpress, agency
      experience, semantic & validating HTML, CSS, templates, CMS, responsive, Fireworks, Photoshop, scrum, agile, Sass,
      LESS, version management.</p>

    <p>
      <span class="speciality">Knowledge</span>I can translate existing identities, provide advice from a technical
      perspective and transform a design into valid (responsive) HTML and CSS. I can deal with bug trackers, version
      control and pre-processors like LESS and Sass. Strongly prefer using an agile approach to project management.</p>

    <p>
      <span class="speciality">Skills</span>I am acquainted with responsive web development and scrum. JavaScript
      however is not my biggest hobby. I keep my knowledge up to date by visiting conferences and by keeping in close
      touch with colleagues.</p>
    <p>
      Looking for a new company website? I can develop a website from design to development.</p>

    <button>Clicketyclick</button>
  </div>
</div>

<button class="floating-btn" (click)="onFabClick($event)">
  <span class="material-icons">print</span>
</button>
